* {
    margin: 0px;
    padding: 0px;
}

.navbar-1 {
    background-color: white;
    height: 80px;
    width: 1800px;
    display: flex;


}

.logo-swiggy {
    height: 60px;
    width: 50px;
    background-image: url(swiggyicon.webp);
    background-size: cover;
    margin: 10px;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    display: flex;
}

.search {
    margin: 40px;
}

.cart {
    margin: 40px;
}

.signin {
    margin: 40px;
}

.help {
    margin: 40px;
}

.offer {
    margin: 40px;
}


.text {
    color: rgb(80, 78, 78);
    font-weight: 300x;
    font-size: 0.9rem;
    margin-right: 280px;
    margin-left: 0;


}

select {
    border: none;
}



body {
    background-color: rgba(152, 151, 151, 0.1);

}

a {
    color: #393838;

}

.mid {
    margin-top: 20px;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;

}

.t2 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;

    margin-top: 20px;
}

.image {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    height: 250px;
    width: 450px;
    background-size: cover;
    background-image: url(b1.webp);
}

.image1 {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    height: 250px;
    width: 450px;
    background-size: cover;
    background-image: url(b2.webp);
}

.image2 {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    height: 250px;
    width: 450px;
    background-size: cover;
    background-image: url(b3.webp);
}

.t3 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    margin-top: 30px;
}

.small1 {
    margin-top: 20px;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.small2 {
    margin-top: 20px;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.s1 {
    height: 200px;
    width: 180px;
    background-image: url(s1.webp);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;


}

.s2 {
    height: 200px;
    width: 180px;
    background-image: url(s2.webp);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;

}

.s3 {
    height: 200px;
    width: 180px;
    background-image: url(s3.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;

}

.s4 {
    height: 200px;
    width: 180px;
    background-image: url(s4.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;

}

.s5 {
    height: 200px;
    width: 180px;
    background-image: url(s5.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;

}

.s6 {
    height: 200px;
    width: 180px;
    background-image: url(s6.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.s7 {
    height: 200px;
    width: 180px;
    background-image: url(s7.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;

}

.s8 {
    height: 200px;
    width: 180px;
    background-image: url(s8.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;

}

.s9 {
    height: 200px;
    width: 180px;
    background-image: url(s9.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;

}

.s10 {
    height: 200px;
    width: 180px;
    background-image: url(s10.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.s11 {
    height: 200px;
    width: 180px;
    background-image: url(s11.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.s12 {
    height: 200px;
    width: 180px;
    background-image: url(s12.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.s13 {
    height: 200px;
    width: 180px;
    background-image: url(s13.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.s14 {
    height: 200px;
    width: 180px;
    background-image: url(s14.jpeg);
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.t4 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    margin-top: 30px;
}

.t5 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    margin-top: 30px;
}

.cr {
    margin-left: 150px;
    height: 70px;
    width: 1800px;
    display: flex;

}

.cr a {
    margin-right: 10px;
    margin-right: 10px;
    padding: 10px;
    margin: 15px;
    border: solid 2px gray;
    border-radius: 8px
}

.cr1 {
    margin-left: 150px;
    height: 70px;
    width: 1800px;
    display: flex;

}

.cr1 a {
    margin-right: 10px;
    margin-right: 10px;
    padding: 10px;
    margin: 15px;
    border: solid 2px gray;
    border-radius: 8px
}

footer {
    background-color: black;
    height: 500px;
    width: 1500px;

}

.footer {
    margin-left: 10px;
    justify-content: space-evenly;
    display: flex;
    color: #a9a4a4;
}

h2 {

    display: flex;
    align-items: center;
    margin-top: 30px;
    color: white;
}

ul p {
    font-size: 17px;
    display: block;
    margin: 20px;
}